.__pacburger {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.__pacburger_button_icon,
.__pacburger_nav ul a {
  position: relative;
  display: flex;
  background-color: #fff;
}
.__pacburger_div_pacman_circle,
.__pacburger_div_pacman_triangle {
  width: 1.5rem;
  height: 0.25rem;
  background-color: #fcd34d;
  gap: 1rem;
  transition:
    height 0.6s ease,
    transform 0.6s ease;
}

.__pacburger_nav .__pacburger_div_pacman_wrapper {
  height: 100%;
}
.__pacburger_nav:not(.active) .__pacburger_div_pacman_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

.__pacburger_nav:not(.active) .__pacburger_div_pacman_circle,
.__pacburger_nav:not(.active) .__pacburger_div_pacman_triangle {
  border-radius: 6px;
}

.__pacburger_nav.active .__pacburger_div_pacman_circle,
.__pacburger_nav.active .__pacburger_div_pacman_triangle {
  height: 1.5rem;
  position: absolute;
  transition:
    height 0.6s ease,
    transform 0.6s ease;
}

.__pacburger_nav.active .__pacburger_div_pacman_circle {
  transform: rotate(45deg);
}

.__pacburger_nav.active .__pacburger_div_pacman_triangle {
  transform: rotate(-45deg);
}

.__pacburger_nav.active .__pacburger_div_pacman_circle {
  border-radius: 50%;
}

.__pacburger_nav.active .__pacburger_div_pacman_triangle {
  transform: rotate(45deg);
  margin-left: -1rem;
  z-index: 10;
  background-color: #fff;
}

.__pacburger_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1rem;
  background-color: #fff;
  transition: width 0.2s linear;
}

.__pacburger_nav.active ul {
  width: 100%;
  height: 100%;
}

.__pacburger_nav.active ul.horizontal {
  display: flex;
}

.__pacburger_nav ul {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.__pacburger_nav ul li {
  opacity: 0;
  margin: 0.5rem 0;
}

.__pacburger_nav.active ul li {
  opacity: 1;
}

.__pacburger_nav.active ul li a {
  letter-spacing: 0px;
}

.__pacburger_nav ul li a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  letter-spacing: -8px;
  transition: letter-spacing 1s linear;
}

.__pacburger_button_icon {
  cursor: pointer;
  border: none;
  height: 30px;
  width: 30px;
  background: none;
  position: relative;
  align-items: center;
}

.__pacburger_nav.active .__pacburger_div_pacman_triangle {
  animation: growShrink 0.8s ease-in-out 1.6;
}

@keyframes growShrink {
  0%,
  100% {
    height: 0;
  }
  50% {
    height: 24px;
  }
}
